<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/style/home.css}">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="nav-block">
                <div class="nav">
                    <div class="main-logo cursor-static">
                        Main
                    </div>
                    <div class="nav-l">
                        <a class="nav-item" id="collect">Collect</a>
                        <a class="nav-item" id="frend">Frend</a>
                        <a class="nav-item" id="massage">Massage</a>
                        <a class="nav-item active" id="home">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <div class="flex">
                <div class="home-item width-30p">
                    <div class="img-usr">
                    </div>
                </div>
                <div class="width-65p">
                    <div class="home-item">
                        <div class="home-verticl-center">
                            <div class="info-home">
                                <div class="name-usr cursor-static" id="usrName">
                                    namesfdfdfdfdfdfdfdfdfdfdfdfdfdfd
                                </div>
                                <div class="send-home">
                                    <div class="room-btn">
                                        Edit home
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-room" id="myRoom">
                        <div class="home-item width-45p cursor-pointer">
                            <div class="name-room">
                                name
                            </div>
                        </div>
                        <div class="home-item width-45p cursor-pointer">
                            <div class="name-room">
                                namea eameameameame ameamea m eameameame
                            </div>
                        </div>
                        <div class="home-item width-45p cursor-pointer">
                            <div class="name-room">
                                name
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>





    <footer class="footer">
        <div class="container">
            <div class="nav-block">
                <div class="nav">
                    <div class="main-logo cursor-static">
                        Main
                    </div>
                    <div class="nav-l">
                        <a class="nav-item" id="collect">Collect</a>
                        <a class="nav-item" id="frend">Frend</a>
                        <a class="nav-item" id="massage">Massage</a>
                        <a class="nav-item active" id="home">Home</a>
                    </div>
                </div>
            </div>
            <div class="collect-block">
                <div class="collect-l">
                    <a class="collect-item">Blog</a>
                    <a class="collect-item">LinkedIn</a>
                    <a class="collect-item">Support</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>

</html>