<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/style/room.css}">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="nav-block">
                <div class="nav">
                    <div class="main-logo cursor-static">
                        Main
                    </div>
                    <div class="nav-l">
                        <a class="nav-item" id="collect">Collect</a>
                        <a class="nav-item" id="frend">Frend</a>
                        <a class="nav-item" id="massage">Massage</a>
                        <a class="nav-item " id="home">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <div class="room-item">
                <div class="room-container">
                    <div class="flex-room">
                        <div class="user-img-flex-w">
                            <div class="img-usr">
                            </div>
                        </div>
                        <div class="info-room">
                            <div class="name-usr">
                                name
                            </div>
                            <div class="massage-room mrgt-20">
                                hellofdgdfffffg
                            </div>
                        </div>
                        <div class="status-room">
                            <div class="room-date">
                                yesterday
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-item">
                <div class="room-container">
                    <div class="search-flex">

                        <input class="text-field__input width-70p" type="text" name="username" placeholder="Find by name">
                        <div class="width-20p">

                            <div class="room-btn">
                                Enter massage
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="nav-block">
                <div class="nav">
                    <div class="main-logo cursor-static">
                        Main
                    </div>
                    <div class="nav-l">
                        <a class="nav-item" id="collect">Collect</a>
                        <a class="nav-item" id="frend">Frend</a>
                        <a class="nav-item" id="massage">Massage</a>
                        <a class="nav-item " id="home">Home</a>
                    </div>
                </div>
            </div>
            <div class="collect-block">
                <div class="collect-l">
                    <a class="collect-item">Blog</a>
                    <a class="collect-item">LinkedIn</a>
                    <a class="collect-item">Support</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>